main {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    justify-content: center;
    align-items: flex-end;
}
h2 {
    text-transform: uppercase;
    color: white;
    margin: 0px 0px 10px 0px;
    font-size: 19px;
}
h3 {
    text-transform: uppercase;
    color: var(--kashmir-blue);
    margin: 0px;
    font-size: 16px;
    font-family: 'helveticaNeueBold';
}
hr {
    width: 30vw;
    margin: 60px 0px;
    border: solid 1px white;
    border-radius: 15px;
    background-color: white;
}
.resume {
    color: white;
    margin: 0px;
    font-size: 13px;
    word-break: break-word;
}
div#articlesWrap {
    position: relative;
    z-index: 3;
    display: flex;
    width: 100vw;
    height: 70vh;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
    flex-direction: column;
}
.article {
    width: 50vw;
    cursor: pointer;
}
a#newArticle {
    display: none;
    position: absolute;
    transform: translateX(-110%);
    font-size: 20px;
}
.article:first-of-type #newArticle {
    transition: ease-in-out 0.5s;
    display: block;
}
div#articlesWrap hr:last-child {
    display: none;
}