html {
    background-color: #1E1F26;
}
body {
    margin: 0;
}
#errorImg {
    width: 20vw;
    height: auto;
    justify-self: center;
    z-index: 1;
}
.blueberry {
    width: auto;
    height: 66vh;
    position: absolute;
    z-index: 0;
}
#b1 {
    right: 0;
    bottom: 0;
}
#b2 {
    left: 0;
    top: 0;
}
div {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: absolute;
}
#home {
    margin-top: 30px;
    width: 13vw;
    height: auto;
    justify-self: center;
    z-index: 1;
}
a {
    z-index: 2;
    width: fit-content;
    height: fit-content;
}
h1 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}