/*Helvetica Neue*/
@font-face
{
    font-family: helveticaNeueBold;
    src: url(../assets/fonts/HelveticaNeue/HelveticaNeue-Bold-02.ttf);
    font-weight: 200;
}
@font-face
{
    font-family: helveticaNeueLight;
    src: url(../assets/fonts/HelveticaNeue/HelveticaNeue-Light-08.ttf);
    font-weight: 100;
}

/*Avenir Next*/
@font-face
{
    font-family: avenirNextHeavy;
    src: url(../assets/fonts/AvenirNext/AvenirNext-Heavy-09.ttf);
    font-weight: 600;
}
@font-face
{
    font-family: avenirNextBold;
    src: url(../assets/fonts/AvenirNext/AvenirNext-Bold-01.ttf);
    font-weight: 500;
}
@font-face
{
    font-family: avenirNextMedium;
    src: url(../assets/fonts/AvenirNext/AvenirNext-Medium-06.ttf);
    font-weight: 400;
}
@font-face
{
    font-family: avenirNextRegular;
    src: url(../assets/fonts/AvenirNext/AvenirNext-Regular-08.ttf);
    font-weight: 300;
}
@font-face
{
    font-family: avenirNextUltraLight;
    src: url(../assets/fonts/AvenirNext/AvenirNext-UltraLight-11.ttf);
    font-weight: 200;
}
@font-face
{
    font-family: avenirNextUltraLightItalic;
    src: url(../assets/fonts/AvenirNext/AvenirNext-UltraLightItalic-12.ttf);
    font-weight: 100;
}