header {
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

header>*:first-child {
    padding-left: 100px;
}

header>#headerMenu {
    padding-right: 100px;
}

header img {
    width: 100px;
    height: auto;
}

#headerMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#headerMenu>* {
    transition: ease-in-out 0.25s;
    color: white;
    text-decoration: none;
}

#headerMenu>a:not(:first-child) {
    display: none;
}

#telHeaderMenu {
    display: none;
}