main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
form.formulaire {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input[type=email], input[type=password] {
    color: white;
    background-color: #2B313F;
    padding: 5px 15px;
    border: 0px;
    border-radius: 20px;
    box-sizing: border-box;
    resize: none;
    margin: 5px;
}
input[type=submit] {
    color: white;
    background-color: #4D648E;
    padding: 5px 15px;
    border: 0px;
    border-radius: 20px;
    margin: 10px;
    transition-duration: 0.2s;
    cursor: pointer;
}