.postImage {
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
}

.title {
    margin-top: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: avenirNextMedium;
    font-size: 14px;
}
.artist {
    color: white;
    font-family: avenirNextUltraLight;
    font-size: 10px;
}
.description {
    color: white;
    font-family: avenirNextUltraLightItalic;
    font-size: 10px;
}
.descriptionDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    position: relative;
    z-index: 2;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
}

.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 20vh 40px;
}

.column img {
  margin-top: 50px;
  width: 100%;
  display: block;
}

.projectWrap {
    position: relative;
}
.projectClick {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    transition-duration: 0.5s;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
}
.projectClick:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.dimmed {
    filter: brightness(50%);
    background-color: rgba(0, 0, 0, 0.812);
}