@media (max-width: 900px) {
    header>*:first-child {
        padding-left: 10%;
    }

    header>*:last-child {
        padding-right: 10%;
    }

    #headerMenu {
        display: none;
    }

    #telHeaderMenu {
        display: block;
    }

    #telHeaderMenu>a>img {
        width: 20px;
        height: auto;
    }
}