@media only screen and (max-width: 600px) {     
    .topnav.responsive {
        background: linear-gradient(180deg, rgb(0 0 0 / 80%) 80%, rgb(0 0 0 / 50%) 90%, rgb(0 0 0 / 0%) 100%);
    }
    #berry1 {    
        height: 20vh;
    }
    #berry2 {
        height: 20vh;
    }
    /*-----SECTION 2-----*/
    #releaseWrap {
        flex-direction: column;
    }
    h2 {
        margin: 30px 0px;
    }
    #savoirPlus {
        margin-bottom: 10px;
    }
    .downarrow {
        width: 30px;
    }
}