@media only screen and (max-width: 600px) { 
    /*-----HEADER-----*/
    a#ArrowWrap {
        left: 50px;
        top: -50px;
        width: 40px;
    }
    #headerWrap {
        width: 100vw;
    }
    #headerAutor {
        margin-right: 15px;
    }
    /*-----MAIN-----*/
    main {
        width: 100vw;
    }
    .h5BIS {
        margin-right: 10px;
        margin-left: 10px;
    }
    /*-----FOOTER-----*/
    #footerContent {
        flex-direction: column;
    }
    footer {
        margin: 0px;
    }
}