@media only screen and (max-width: 600px) { 
    input[type=text], input[type=email], input[type=tel], select, textarea {
        width: 80%;
        margin-right: 10%;
        margin-left: 10%;
    }
    input[type=text] {
        width: 38% !important;
    }
    #send {
        width: 20%;
        margin-right: 40%;
        margin-left: 40%;
        text-align: center;
    }
    .socialmedia {
        width: 18px;
    }
}