@media only screen and (max-width: 600px) {     
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
    padding: 0px;
  }
  .row {
    padding: 20vw 8vh 30vw 8vh;
  }
  .title {
    margin-top: 15px;
    font-size: 20px;
  }
  .artist {
    font-size: 15px;
  }
  .description {
    font-size: 15px;
  }
}