@media only screen and (max-width: 600px) {
    /*-----SCROLLBAR-----*/
    ::-webkit-scrollbar {
        width: 0px !important;
    }
    form div {
        display: flex;
        align-items: stretch;
        flex-direction: column;
    }
}